# Copy this file to `.env` and insert your NewsAPI.org API key.
# Get a free key at https://newsapi.org/
NEWS_API_KEY=737e634c6ef84eb4a280c96c4ec7815f

# Optionally set your Express server port
# PORT=5000
